body {
    background-color: black;
    color: white;
}

button.goto_profile {
    border: none;
    border-radius: 10px;
    height: 3rem;
    width: 3.5rem;
    background-color: rgb(214, 214, 101);
}

button.goto_profile:hover {
    background-color: rgb(155, 155, 77);
    cursor: pointer;
}
