<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script type= 'text/javascript' src="{{ url_for('static', filename= 'script.js')}}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div>
        {% block content %}
        <h1>Home</h1>
        <p>
            Olá, {{name}}! é um prazer te ter por aqui!
        </p>
        <button class='goto_profile'>
        <a href="profile">  
            profile page
        </a>
        </button>
        {% endblock %}
    </div>
</body>
</html>